* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* car styles */

.car-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.car-wrapper img {
  height: 100%;
  width: 100%;
}

/* dashboard styles */

.car-dashboard {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  color: #fff;
}

.car-steering-wheel-wrapper {
  position: absolute;
  top: 2rem;
  right: 20%;
  height: 240px;
  width: 240px;
}

.car-steering-wheel-wrapper img {
  height: 100%;
  width: 100%;
}

.dashboard-left-panel {
  position: absolute;
  left: 17%;
}

.dashboard-time {
  margin: 10px 0 60px;
}

.fuel-number {
  font-size: 38px;
}

.fuel-unit {
  font-size: 10px;
}

.fuel-bar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fuel-progress-wrapper {
  margin-top: 10px;
  width: 5rem;
  background-color: #000;
  border-radius: 50px;
  border: 1px solid #fff;
}

.fuel-progress-bar {
  width: 10%;
  height: 8px;
  background-color: rgb(173, 82, 38); /* green #4caf50 red 173 82 38*/
  text-align: center;
  line-height: 32px;
  color: #000;
  border-radius: 50px;
}

.dashboad-center-panel {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-greeting {
  margin: 10px 0 20px;
}

.speed-limit-warning-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  color: lightsalmon;
}

.speedometer-number-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.speedometer-number {
  font-size: 48px;
}

.warning-icon-wrapper {
  height: 20px;
  width: 20px;
}

.warning-icon-wrapper img {
  height: 100%;
  width: 100%;
}

.dashboard-temperature-wrapper {
  position: absolute;
  right: 18%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-temparature {
  margin-top: 10px;
  font-size: 18px;
}

.dashboard-temperature-text {
  font-size: 10px;
}

/* button styles */

.action-buttons {
  position: absolute;
  top: 0;
  bottom: 5%;
  left: 8%;
  right: 8%;
}

.icon {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: #445d66;
  color: #bec3c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #546d79;
}

.icon img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.medium-icon {
  font-size: 50px;
}

.big-icon {
  font-size: 75px;
}

.bottom-first-tab {
  bottom: 18.5%;
}

.bottom-second-tab {
  bottom: 5%;
}

.right-caret-wrapper,
.fuel-wrapper {
  right: 0;
}

.left-caret-wrapper,
.volume-wrapper {
  right: 9%;
}

.brake-wrapper {
  left: 9%;
}

.camera-wrapper {
  left: 0;
  right: 0;
  margin: auto;
  color: #141a23;
  background-color: #26a9bb;
}

/* gaming styles */

.game-icon {
  height: 90px;
  width: 90px;
  position: relative;
  color: #62b702;
  background-color: #000;
  border: 10px solid #62b702;
}

.game-stop-icon {
  color: #b94c13;
  background-color: #000;
  border: 10px solid #b94c13;
}

.game-start-content {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.game-start-title {
  font-size: 36px;
}

.game-start-description {
  font-size: 24px;
}

.d-none {
  display: none;
}

.active-icon {
  border: 10px solid #f9f88d;
}

.back-camera {
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 600px;
  height: 181px;
  border: 12px solid black;
  background: black;
}
